@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e6dede;
}
header{
    text-align: center;
    padding: 14px 0;
    border-bottom: 1px solid #282525;
    padding-right: 1%;
}
main{
    border-radius: 6px;
    background: #fafafa;
    width: 450px;
    height: auto;
    box-shadow: 0 10px rgba(0, 0, 0, 0.06);
    margin: 25px 35px;
    padding: 0 19px;
}
.wordgame-container{
    text-align: center;
    margin-bottom: 30px;
}

.word{
    user-select: none;
    font-size: 33px;
    font-weight: 450;
    letter-spacing: 22px;
    word-break: break-all;
    text-transform: uppercase;
}


@media screen and (max-width: 470px) {
    header{
        padding: 12px 20px;
    }
    .word {
        font-size: 30px;
        letter-spacing: 20px;
      }
    main{
        margin: 20px 0 30px;
    }
    
}

/* i {
padding: 1%;
} */